<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
     <link rel="stylesheet" href="{{ "/css/toc.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/pdfstyle.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/dicom_view.css" | relURL }}">
  </head>
  <body>
    {{ if ne .Site.Params.preloader false }}
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>
    {{ end }}

    {{ block "main" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ partial "javascript.html" . }}
  <script src="{{"/js/toggleTOC.js"|relURL}}"></script>
    <script src="{{ "/js/jquery.min.js" | relURL }}"></script>
<script src="{{ "/js/fresh.js" | relURL }}"></script>

  </body>
</html>
