<button class="toc-toggle-btn" onclick="toggleTOC()">目录</button>

{{ $tocFile := .Get "toc" }}  <!-- 获取传入的 toc 文件名 -->
{{ $tocData := .Site.Data.toc }}  <!-- 获取所有的 toc 数据 -->

{{ if $tocFile }}  <!-- 如果传入了 toc 文件名 -->
  {{ $tocFileData := index $tocData $tocFile }}  <!-- 获取对应的 toc 数据 -->
  {{ if $tocFileData }}  <!-- 如果找到了 toc 数据 -->
    <div class="toc-container">
      <ul class="toc-list">
        {{ range $tocFileData }}
          <li>
            <a href="{{ .id }}">{{ .title }}</a>  <!-- 渲染目录项 -->
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}














